.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  background-color: rgb(140, 210, 204);
  font-family:Abel;
  color:rgb(19, 18, 18);
}

.brand{
  color:white;
  font-size:20px;
  font-family: 'Rock Salt';
}

.brand:hover{
  color:white;
}

.link{
  color:white;
  font-size:14px;
  font-family: Montserrat;
}

.link:hover{
  color:rgb(246,221,199);
}

.bar{
  font-size:20px;
  color:white;
}
body{
  background-color: rgb(241, 238, 237);
  background-image: url('./waterback.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  overflow-x: hidden;
}

